:root {
    --content-width: calc(100vw - 2em);
}    
    
@media (min-width: 992px) {
    :root {--content-width: 980px;}
}

html {
    height: 100%;
    background-image: linear-gradient(#111c, #111b), url("/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
    
}

body {
    margin: 0 auto;
    color: #eee;
    font-family: sans-serif;
}

/* #app.masked {
    overflow: hidden;
} */

header {
    position: fixed;
    width: 100%;
    padding-bottom: 1em;
    z-index: 1;
    background: linear-gradient(#111a, #1118 80%, #0000);
}

/* #app.scroll-top #header-background {
    opacity: 0;
}

#header-background {
    transition: opacity 0.5s;
    background: linear-gradient(#111a, #1118 80%, #0000);
    height: 7em;
    width: 100%;
    position: absolute;
} */

#header-content {
    width: var(--content-width);
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

main {
    min-height: 100vh;
    padding-top: 8em;
    width: var(--content-width);
    margin: 0 auto;
}

footer {
    margin-top: auto;
    bottom: 0;
    text-align: center;
    padding: 1em 0;
    font-size: smaller;
    width: var(--content-width);
    margin: 0 auto;
}

button, input[type=button] {
    background: #ccc;
    color: #222;
    padding: 0.6em 1em;
    border: none;
    border-radius: 0.8em;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

button.highlight, input[type=button].highlight {
    font-weight: bolder;
    background: #ff8;
}

button:active, input[type=button]:active {
    background: #ddd;
}

button.highlight:active, input[type=button]:active {
    background: #ff4;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav.inline {
    /* margin-left: auto; */
    margin-right: 1em;
}

nav.inline li {
    padding-left: 1em;
    padding-right: 1em;
}

/* nav li:first-child {
    border-left: none;
} */

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.dropdown {
    display: none;
    width: 100%;
}

nav.dropdown ul {
    flex-direction: column;
    background: #111c;
}

nav.dropdown li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid darkgray;
    padding: 1em;
}

nav.dropdown li:first-child a {
    border-top: 1px solid lightgray;
}

#nav-menu-icon {
    display: none;
    vertical-align: middle;
    width: 3em;
    /* margin-left: 1em; */
    margin-right: 2em;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline dashed;
}

nav a.active {
    text-decoration: underline double;
}

/* main h2:first-child {
    margin-top: 0;
} */

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    background: #111a;
    max-height: 100%;
    overflow: scroll;
    display: flex;
    z-index: 10;
}

.dialog {
    width: 40em;
    padding: 3em;
    border-radius: 3em;
    background: #111e;
    margin: auto;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}

input:not([type]), input[type=text], input[type=password], textarea {
    font: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    resize: none;
}

.dialog .buttons {
    text-align: right;
    margin-top: 2em;
    display: flex;
    width: 100%;
}

.dialog .buttons button {
    margin-left: 1.5em;
}

.dialog .buttons button:first-child {
    margin-left: auto;
}

.dialog h2 {
    margin-top: 0;
}

.g-recaptcha {
    margin-top: 1.2em;
}

#contact-form textarea {
    height: 5em;
}

#loading {
    background: #111d;
    z-index: 1000000;
}

#loading > div {
    display: flex;
    margin: auto;
}

#loading .spinner {
    height: 0.1em;
    width: 1em;
    background: lightgray;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

/* h1 {
    transition: 0.2s;
}
 */
h1 img {
    height: 2em;
    vertical-align: middle;
}

/* #app.cover.scroll-top h1 {
    transform: translate3d(calc(var(--content-width) / 2 - 50%), 8em, 0) scale(4);
}

#app.cover main {
    padding-top: 30em;
    transition: opacity 0.2s;
}

#app.cover.scroll-top main {
    opacity: 0;
} */


@media (max-width: 799px) {
    nav.inline { display: none }
    nav ul { flex-direction: column }
    nav.dropdown.active { display: initial }
    #nav-menu-icon { display: block }
    .dialog {
        width: var(--content-width);
        /* height: 100vh; */
        border-radius: 1em;
    }
}


