:root {
    --min-side-margin: 25px;
    --wide-width: calc(100vw - 2 * var(--min-side-margin));
    --narrow-width: calc(100vw - 2 * var(--min-side-margin));
}

@media (min-width: 760px) {
    :root {--narrow-width: calc(760px - 2 * var(--min-side-margin))}
}

@media (min-width: 992px) {
    :root {--wide-width: calc(992px - 2 * var(--min-side-margin))}
}

html {
   background-color: #222;
}

body {
    margin: 0 auto;
    color: #eee;
    font-family: sans-serif;
    line-height: 1.6;
}

header {
    position: absolute;
    width: 100%;
    padding-bottom: 1em;
    z-index: 1;
    background: linear-gradient(#111e, #1118 80%, #0000);
}

#header-content {
    width: var(--wide-width);
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

section.cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-section {
    height: 35em;
    /* align-items: flex-end; */
    /* padding-bottom: 3em; */
    background-image: linear-gradient(#1118, #1118), url("/images/pexels-james-wheeler-1598075.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-bottom: 3em;
}

#title-section div {
    /* margin-top: 20%; */
    font-family: serif;
    /* font-weight: bold; */
    width: 80%;
    font-size: 200%;
    font-style: italic;
    /* margin-right: 50%; */
    text-align: center;
    /* padding-bottom: 1em; */
    /* line-height: 1.6em; */
    /* border: 1px solid green; */
}

/* h2, form {
    width: var(--narrow-width);
    margin-left: auto;
    margin-right: auto;
} */

footer {
    width: var(--wide-width);
    text-align: center;
    margin: 3em auto 0 auto;
    padding: 1em;
    font-size: smaller;
    border-top: 1px solid #444;
}

a.buttonlike, button, input[type=button] {
    background: #ccc;
    color: #222;
    padding: 0.6em 1em;
    border: none;
    border-radius: 0.8em;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

a.buttonlike.highlight, button.highlight, input[type=button].highlight {
    font-weight: bolder;
    background: #ff8;
}

a.buttonlike:active, button:active, input[type=button]:active {
    background: #ddd;
}

a.buttonlike.highlight:active, button.highlight:active, input[type=button]:active {
    background: #ff4;
}

a.buttonlike.disabled, button[disabled], input[type=button][disabled] {
    color: #888;
    cursor: not-allowed;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav.inline {
    /* margin-left: auto; */
    margin-right: 1em;
}

nav.inline li {
    padding-left: 1em;
    padding-right: 1em;
}

/* nav li:first-child {
    border-left: none;
} */

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.dropdown {
    display: none;
    width: 100%;
}

nav.dropdown ul {
    flex-direction: column;
    background: #111c;
}

nav.dropdown li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid darkgray;
    padding: 1em;
}

nav.dropdown li:first-child a {
    border-top: 1px solid lightgray;
}

#nav-menu-icon {
    display: none;
    vertical-align: middle;
    width: 32px;
    /* margin-left: 1em; */
    margin-right: 24px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline dashed;
}

nav a.active {
    text-decoration: underline double;
}

.narrow {
    width: var(--narrow-width);
    margin-left: auto;
    margin-right: auto;
    overflow-y: visible;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    background: #111c;
    /* max-height: 100%; */
    overflow: scroll;
    display: flex;
    z-index: 100;
    overscroll-behavior: contain;
}

.dialog {
    width: 40em;
    padding: 3em;
    border-radius: 3em;
    background: #111e;
    margin: auto;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}

input:not([type]), input[type=text], input[type=password], textarea {
    font: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    resize: none;
}

.dialog .buttons {
    text-align: right;
    margin-top: 2em;
    display: flex;
    width: 100%;
}

.dialog .buttons button {
    margin-left: 1.5em;
}

.dialog .buttons button:first-child {
    margin-left: auto;
}

.dialog h2 {
    margin-top: 0;
}

.g-recaptcha {
    margin-top: 1.2em;
}

#contact-form textarea {
    height: 5em;
}

#loading {
    background: #111d;
    z-index: 1000000;
}

#loading > div {
    display: flex;
    margin: auto;
}

#loading .spinner {
    height: 0.1em;
    width: 1em;
    background: lightgray;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

/* h1 {
    transition: 0.2s;
}
 */
h1 img {
    width: 140px;
    vertical-align: middle;
}

/* #app.cover.scroll-top h1 {
    transform: translate3d(calc(var(--content-width) / 2 - 50%), 8em, 0) scale(4);
}

#app.cover main {
    padding-top: 30em;
    transition: opacity 0.2s;
}

#app.cover.scroll-top main {
    opacity: 0;
} */


@media (max-width: 799px) {
    nav.inline { display: none }
    nav ul { flex-direction: column }
    nav.dropdown.active { display: initial }
    #nav-menu-icon { display: block }
    .dialog {
        width: var(--content-width);
        border-radius: 1em;
        padding: 1.5em;
    }
}

form .buttons {
    margin-top: 1em;
}

h2 {
    margin-top: 2em;
    text-transform: uppercase;
}